		<footer class='row'>
			<div class='col 1'><img id="img_footer" src="images/logo_ghetto_blaster_64.png"></div>
			<div class='col'>Copyright &copy; <%= (new Date()).getFullYear() %> Ghetto Blaster</div>
		</footer>
	</div>
</body>

</html>