<!DOCTYPE HTML>
<html class="gr__wizzledonker_com">

<head>
	<title><%= title %></title>

	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.3/Pizzicato.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<div class='c'>
		<div class='row card'>
			<div class='col 1 imgContainer'><img id="img_title" src="images/logo_ghetto_blaster_64.png"></div>
			<div class='col'><h1><%= title %></h1></div>
			<div class='col'><a href="about">About</a></div>
			<div class='col'><a href="test">Test</a></div>
			<div class='col'><a href="team">Team</a></div>
		</div>
