<%- include('header'); -%>
<div class='row'>
	<div class='col'>
		<h3>Welcome to AudioFuzz!</h3>
		<p>Despite large advancements in audio and web audio, some issues with web browsers and their audio reproduction still exist. There's a disparity between the security of device drivers on the soundcard and how the web browsers implement javascript <em>API's</em> (Application programming interfaces)</p>
		<p>AudioFuzz uses a series of <a href='https://en.wikipedia.org/wiki/Metamorphic_testing'>metamorphic relationships</a> to determine whether the API chain on your browser is playing audio correctly, as per the <a href='https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API'>Mozilla Specification of the WebAudio library.</a></p>
	</div>
</div>
<%- include('footer'); -%>
