<%- include('header'); -%>
<div class='row'>
	<div class='col'>
		<h2>Team Information</h2>
		<p>AudioFuzz is created by a team of trained monkeys who all work together to produce a browser-based audio pipeline tester.</p>
  </div>
</div>
<div class='row'>
  <div class='4 col card'>
    <h3>Winfried Holzapfel</h3>
    <p>Determine metamorphic relationships and create the soundPlay system</p>
  </div>
  <div class='4 col card'>
    <h3>Ramshad Basheer</h3>
    <p>Research of metamorphic principles</p>
  </div>
  <div class='4 col card'>
    <h3>Dhruv Tekchandani</h3>
    <p>Team Co-ordination</p>
  </div>
</div>
<div class='row'>
  <div class='4 col card'>
    <h3>Cody Marcus</h3>
    <p>Implementation of specified metamorphic relations.</p>
  </div>
  <div class='4 col card'>
    <h3>Kevy Lim</h3>
    <p>Principles behind audio re-encoding.</p>
  </div>
  <div class='4 col card'>
    <h3>Karl Meng</h3>
    <p>Tidying and audio file sourcing.</p>
  </div>
</div>
<%- include('footer'); -%>
