<div class='col 6'>
<h3>Average result per browser</h3>
<table class='w-100'>
  <% for (var i = 0; i < rowData.length; i++) { %>
  <tr>
    <td><%= rowData[i].browser %></td>
    <td><%= Math.round(rowData[i].lowAvg) %></td>
    <td><%= Math.round(rowData[i].highAvg) %></td>
  </tr>
  <% }; %>
</table>
</div>
