body {
	background-color: #f4f4f4;
	color: #555; 
	font-family: Raleway, Halvetica, sans-serif; 
	font-size:16px;
	line-height: 1.6em;
	margin: 0;
}

.container {
	width: 80%;
	margin:auto; 
	overflow:hidden;
}

#img_title {
	width: 72px; 
	height: 72px;
}

#main-header{
	padding: 20px;
	background-color: #2d2f38; 
	color: #fff; 
}

#main-header h1{
	display: inline;
}

#main-header ul {
	text-align: right;
	float: right;
	display: inline;
	list-style: none;
}

#main-header li {
	display: inline; 
}

#navbar{
	background-color: #333; 
	color: #fff; 
}

#main-header a {
	color: #fff; 
	text-decoration: none;
	font-size: 18px; 
	padding-right: 15px; 
}

#navbar ul{ 
	padding: 0; 
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a { 
	color: #fff; 
	text-decoration: none;
	font-size: 18px; 
	padding-right: 15px; 
}


#main-footer { 
	width: 100%;
	position: fixed;
    left: 0;
    bottom: 0;
	background: #333; 
	color: #fff; 
	text-align: center;
	padding: 20px; 
	margin-top: 40px; 
}

#img-footer {
	width: 72px;
	height: 72px;
}
